{% extends 'admin/index.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.url }}</td>
                <td>{{ image.alt }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('image_new') }}"><i class="fas fa-plus-circle"></i> Créer</a>
{% endblock %}
