<div class="row">
    <div class="col-md-6">
    {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

    </div>
    <div class="col-md-6">
        {{ form_rest(form) }}
    </div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
