{% extends 'admin/index.html.twig' %}

{% block title %}Equipment index{% endblock %}

{% block body %}
    <h1>Equipements</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Modèle</th>
                <th>Serial</th>
                <th>Contrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.brand.category.name }}</td>
                <td>{{ equipment.brand.name }}</td>
                <td>{{ equipment.serial }}</td>
                <td>{{ equipment.contract.name}}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('equipment_edit', {'id': equipment.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('equipment_new') }}"><i class="fas fa-plus-circle"></i> Créer</a>
{% endblock %}
