{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Déclarer une panne</h5>

                    <a href="{{ path('issue_new') }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-8">

            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Id ticket</th>
                    <th>Type d'équipement</th>
                    <th>Modèle</th>
                    <th>Numéro de série</th>
                    <th>Date de la demande</th>
                    <th>Prise en compte de la demande</th>
                    <th>Symptomes</th>

                </tr>
                </thead>
                <tbody>
                {% for issue in issues %}
                    <tr>
                        <td>{{ issue.id }}</td>
                        <td>{{ issue.equipment.brand.category.name }}</td>
                        <td>{{ issue.equipment.brand.name }}</td>
                        <td>{{ issue.equipment.serial }}</td>
                        <td>{{ issue.dateRequest | date("m/d/Y H:i:s", "Europe/Paris") }}</td>
                        <td>{{ issue.dateChecked | date("m/d/Y H:i:s", "Europe/Paris") }}</td>
                        <td>
                            <ul>
                                {% for symptom in issue.symptoms %}
                                    <li>{{ symptom.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Pas d'enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
