<div class="card">
    <h4 class="card-header">Pannes déclarées</h4>
    <div class="card-body">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Type d'équipement</th>
                <th>Modèle</th>
                <th>N° série</th>
                <th>Date</th>
                <th>Symptomes</th>
                <th>Descriptions</th>
                <th>Status</th>


            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.equipment.brand.category.name }}</td>
                    <td>{{ issue.equipment.brand.name }}</td>
                    <td>{{ issue.equipment.serial }}</td>
                    <td>{{ issue.dateRequest | date("m/d/Y H:i:s", "Europe/Paris") }}</td>
                    <td>
                        <ul>
                            {% for symptom in issue.symptoms %}
                                <li>{{ symptom.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ issue.description }}</td>
                    <td>
                        {% if issue.dateChecked %}
                            <span class="badge badge-pill badge-info">Pris en compte</span>
                        {% elseif issue.dateReady %}
                            <span class="badge badge-pill badge-info">Prêt</span>
                        {% else %}
                            <span class="badge badge-pill badge-info">En Attente</span>
                        {% endif %}
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
