{% extends 'admin/index.html.twig' %}

{% block title %}Réseau de transport{{ parent() }}{% endblock %}

{% block body %}
    <h1>Réseau de transport</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Réseau</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for operator in operators %}
            <tr>
                <td>{{ operator.id }}</td>
                <td>{{ operator.name }}</td>
                <td>
                    <ul>
                        {% for transportation in operator.transportations %}
                            <li>
                                {{ transportation.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('operator_show', {'id': operator.id}) }}">show</a>
                    <a href="{{ path('operator_edit', {'id': operator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operator_new') }}">Create new</a>
{% endblock %}
