{% extends 'admin/index.html.twig' %}

{% block title %}Exploitants{{ parent() }}{% endblock %}

{% block body %}
    <h1>Exploitants</h1>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Réseau</th>
            <th>Site</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for operator in operators %}
            <tr>
                <td>{{ operator.id }}</td>
                <td>{{ operator.name }}</td>
                <td>
                    <ul>
                        {% for transportation in operator.transportations %}
                            <li>
                                {{ transportation.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ operator.site.name }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('operator_edit', {'id': operator.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('operator_new') }}">Ajouter</a>
{% endblock %}
