{% extends 'base.html.twig' %}

{% block mainPath %}{{ path('admin_index') }}{% endblock %}

{% block sidebar %}

    {#returns section#}

    <li class="nav-item">
        <a class="nav-link {% block isActiveDash %}{% endblock %}"
           href="{{ path('admin_index') }}"><i class="fas fa-chart-line"></i> Tableau de
            bord {{ render(controller('App\\Controller\\IssueController::countAllOpenIssues')) }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block isActiveNotifications %}{% endblock %}"
           href="{{ path('notification_index') }}"><i class="fas fa-envelope"></i>
            Notifications {{ render(controller('App\\Controller\\IssueController::countNonNotified')) }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block isActiveDelivery %}{% endblock %}"
           href="{{ path('delivery_index') }}"><i class="fas fa-truck"></i> Bons de livraisons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block isActiveLocation %}{% endblock %}"
           href="{{ path('location_search') }}"><i class="fas fa-map-marked-alt"></i> Localisation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block isActiveLocationAdd %}{% endblock %}"
           href="{{ path('location_add') }}"><i class="fas fa-map-marked-alt"></i> Ajout Localisation</a>
    </li>
    <div class="dropdown-divider"></div>

    {#repair section#}


    <li class="nav-item">
        <a class="nav-link {% block isActiveRepair %}{% endblock %}"
           href="{{ path('repair_index') }}"><i class="fas fa-wrench"></i> Réparations à
            traiter {{ render(controller('App\\Controller\\RepairController::countInProcessed')) }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block isActiveHistoricRepair %}{% endblock %}"
           href="{{ path('repair_historic') }}"><i class="fas fa-history"></i> Historique des réparations</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% block isActivePart %}{% endblock %}"
           href="{{ path('part_index') }}"><i class="fas fa-puzzle-piece"></i> Gestion des pièces détachées</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% block isActiveSubcontractor %}{% endblock %}"
           href="{{ path('subcontractor_index') }}"><i class="fas fa-handshake"></i> Chez le
            sous-Traitants {{ render(controller('App\\Controller\\SubcontractorController::countInProcessed')) }}</a>
    </li>



    <div class="dropdown-divider"></div>
    {#admin section#}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#pageSubmenu" id="navbarDropdown" role="button"
           data-toggle="collapse"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-toolbox"></i> Administration
        </a>
        <div class="collapse list-unstyled" id="pageSubmenu">
            <a class="nav-link" href="{{ path('category_index') }}">Catégorie</a>
            <a class="nav-link" href="{{ path('brand_index') }}">Modèle</a>
            <a class="nav-link" href="{{ path('contract_index') }}">Contrats</a>
            <a class="nav-link" href="{{ path('equipment_index') }}">Equipements</a>
            <a class="nav-link" href="{{ path('image_index') }}">Images</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{{ path('symptom_index') }}">Symptomes</a>
            <a class="nav-link" href="{{ path('part_index') }}">Pièces détachées</a>
            <a class="nav-link" href="{{ path('part-group_index') }}">Groupes de pièces</a>
            <a class="nav-link" href="{{ path('software_index') }}">Logiciels</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{{ path('operator_index') }}">Exploitants</a>
            <a class="nav-link" href="{{ path('site_index') }}">Sites</a>
            <a class="nav-link" href="{{ path('transportation_index') }}">Réseaux de transports</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
            <a class="nav-link" href="{{ path('authorization_index') }}">Authorisations</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{{ path('mass_processing') }}">Traitements de masse</a>

        </div>
    </li>

{% endblock %}


{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('issue_index') }}">Tickets</a>
    </li>


{% endblock %}
{% block body %}
{% endblock %}
