{% extends 'admin/index.html.twig' %}

{% block title %}Historique des réparations{% endblock %}
{% block isActiveHistoricRepair %}active{% endblock %}
{% block body %}
    <h4>Historique des réparations</h4>
    <table class="table table-sm table-bordered table-striped small">
        <thead>
        <tr>
            <th>infos</th>
            <th>Equipement</th>
            <th>Symptomes constatés</th>
            <th>Commentaires</th>
            <th>Travaux effectués</th>
            <th>Temps d'indisponibilité (h)</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <div>
                            id: {{ repair.id }}
                        </div>
                        <div>
                            date: {{ repair.dateEnd | date('d/m/Y' , "Europe/Paris") }}
                        </div>
                    </div>

                </td>
                <td>
                    <div class="d-flex">
                        <img class="img-circle" data-toggle="tooltip" data-placement="top"
                             title="{{ repair.issue.equipment.brand.category.name }}" width="50"
                             height="50"
                             src="{{ asset(repair.issue.equipment.brand.category.image.url) }}"
                             alt="{{ repair.issue.equipment.brand.category.image.alt }}">
                        <div class="d-flex flex-column">
                            <div class="small">
                                <b>Catégorie:</b> {{ repair.issue.equipment.brand.category.name }}
                            </div>
                            <div class="small">
                                <b>Modèle:</b> {{ repair.issue.equipment.brand.name }}
                            </div>
                            <div class="small">
                                <b>N° Serie:</b> <a
                                        href="{{ path('equipment_show', {'id': repair.issue.equipment.id}) }}"
                                        target="_blank">{{ repair.issue.equipment.serial }}</a>
                            </div>
                            {% if repair.issue.equipment.contract.id == out_sismo_contract %}
                                <div>
                                        <span class="badge badge-info badge-pill">
                                         Contrat: {{ repair.issue.equipment.contract.name }}
                                        </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    <ul>
                        {% for symptom in repair.symptoms %}
                            <li>{{ symptom.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ repair.description }}
                </td>
                <td>
                    {% if repair.subcontractorRepair %}
                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="top"
                              title="Début {{ repair.subcontractorRepair.dateEntry | date('d/m/Y', "Europe/Paris") }}, Retour {{ repair.subcontractorRepair.dateReturn | date('d/m/Y', "Europe/Paris") }}">Parti chez le sous traitant</span>
                    {% endif %}
                    <ul>
                        {% for part in repair.parts %}
                            <li><span class="badge badge-info">{{ part.name }}</span></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <span class="badge {% if repair.unavailability > 72 %}badge-danger{% else %}badge-success{% endif %}"
                          data-toggle="tooltip" data-html="true" title="

                        Début : {{ repair.issue.dateRequest | date('d/m/y H:i', "Europe/Paris") }},
                        Fin : {{ repair.dateEnd | date('d/m/Y H:i', "Europe/Paris") }}">{{ repair.unavailability }}</span>


                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('repair_edit', {'id' : repair.id }) }}"><i
                                class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="7">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
