{% extends 'admin/index.html.twig' %}

{% block isActiveReport %}active{% endblock %}
{% block title %}
    reporting
{% endblock %}

{% block body %}
    <div class="row">
        <table class="table table-stripped table-sm table-bordered">
            <thead>
            <tr>
                <th>Date Début</th>
                <th>Date Fin</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ dateStart | date('d/m/Y', "Europe/Paris") }}</td>
                <td>{{ dateEnd | date('d/m/Y', "Europe/Paris") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">

        {% set rateInfo = "" %}
        {% for availability in availabilities %}
            {% set rateInfo = constant('CONTRACT_RATE', availability) %}
        {% endfor %}

        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>MTBF embarqué</th>
                <th>MTTR embarqué</th>
                <th>Taux de disponibilité embarqués</th>
                <th>MTBF global</th>
                <th>MTTR global</th>
                <th>Taux de disponibilité global</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bg-primary text-white">{{ embMTBF | round(0,'common') }}</td>
                <td class="bg-primary text-white">{{ embMTTR | round(0,'common') }}</td>
                <td class="{% if totalRate*100 > rateInfo %}bg-success{% else %}bg-danger{% endif %} text-white">{{ (embRate*100) | round(3,'common') }}</td>
                <td>{{ totalMTBF | round(0,'common') }}</td>
                <td>{{ totalMTTR | round(0,'common') }}</td>
                <td>{{ (totalRate*100) | round(3,'common') }}</td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped table-sm">
            <caption>Date début: déclaration de la panne, Date de fin: fin échange standard</caption>
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Temps de fonctionnement par jours (h)</th>
                <th>Quantitée totale (hors maintenance)</th>
                <th>Total de pannes valides</th>
                <th>Nb nouvelles pannes</th>
                <th>Nb fausses pannes</th>
                <th>Nb de dégradations</th>
                <th>Temps d'indisponibilité (h)</th>
                <th>MTBF</th>
                <th>MTTR</th>
                <th>Taux</th>


            </tr>
            </thead>
            <tbody>

            {% for availability in availabilities %}
                <tr {% if availability.category.isEmbeded %}class="table-primary"{% endif %}>
                    <td>{{ availability.category.name }}</td>
                    <td>{{ availability.category.hoursPerDay }}</td>
                    <td>{{ availability.category.contractualQuantity }}</td>
                    <td class="table-info">{{ availability.issueQuantity }}</td>
                    <td>{{ availability.newIssueQuantity }}</td>
                    <td>{{ availability.fakeIssueQuantity }}</td>
                    <td>{{ availability.degradationQuantity }}</td>
                    <td class="table-info">{{ availability.repairTime }}</td>
                    <td class="table-info">{{ availability.mtbf | round(0,'common') }}</td>
                    <td class="table-info">{{ availability.mttr | round(0,'common') }}</td>
                    <td class="{% if availability.rate*100 > rateInfo %}bg-success{% else %}bg-danger{% endif %} text-white">{{ (availability.rate*100) | round(3,'common') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#table des infos complémentaires#}
    <div class="row">
        <table class="table table-bordered table-striped table-sm">
            <caption>Date début: déclaration de la panne, Date de fin: fin de la réparation</caption>
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nombre total de pannes valides</th>
                <th>Nombre nouvelles pannes</th>
                <th>Nombre de pannes encore en cours avant periode</th>
                <th>Nombre de pannes chez le soustraitants</th>
                <th>Nombre fausses pannes</th>
                <th>Nombre de dégradations</th>
                <th>Temps d'indisponibilité</th>
                <th>MTBF</th>
                <th>MTTR</th>
                <th>Taux</th>


            </tr>
            </thead>
            <tbody>

            {% for availability in availabilitiesInfo %}
                <tr {% if availability.category.isEmbeded %}class="table-primary"{% endif %}>
                    <td>{{ availability.category.name }}</td>
                    <td class="table-info">{{ availability.issueQuantity }}</td>
                    <td>{{ availability.newIssueQuantity }}</td>
                    <td>{{ availability.currentIssueQuantity }}</td>
                    <td>{{ availability.subcontractorIssueQuantity }}</td>
                    <td>{{ availability.fakeIssueQuantity }}</td>
                    <td>{{ availability.degradationQuantity }}</td>
                    <td class="table-info">{{ availability.repairTime }}</td>
                    <td class="table-info">{{ availability.mtbf | round(0,'common') }}</td>
                    <td class="table-info">{{ availability.mttr | round(0,'common') }}</td>
                    <td class="{% if availability.rate*100 > rateInfo %}bg-success{% else %}bg-danger{% endif %} text-white">{{ (availability.rate*100) | round(2,'common') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



