{% extends 'admin/index.html.twig' %}

{% block isActiveReport %}active{% endblock %}
{% block title %}
    reporting
{% endblock %}

{% block body %}
    <div class="row">
        <table class="table table-stripped table-sm table-bordered">
            <thead>
            <tr>
                <th>Date Début</th>
                <th>Date Fin</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ dateStart | date('d/m/Y', "Europe/Paris") }}</td>
                <td>{{ dateEnd | date('d/m/Y', "Europe/Paris") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>MTBF embarqué</th>
                <th>MTTR embarqué</th>
                <th>Taux de disponibilité embarqués</th>
                <th>MTBF global</th>
                <th>MTTR global</th>
                <th>Taux de disponibilité global</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bg-primary text-white">{{ embMTBF }}</td>
                <td class="bg-primary text-white">{{ embMTTR }}</td>
                <td class="bg-primary text-white">{{ embRate }}</td>
                <td>{{ totalMTBF }}</td>
                <td>{{ totalMTTR }}</td>
                <td>{{ totalRate }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nombre total de pannes valides</th>
                <th>Nombre nouvelles pannes</th>
                <th>Nombre de pannes encore en cours avant periode</th>
                <th>Nombre de pannes chez le soustraitants</th>
                <th>Nombre fausses pannes</th>
                <th>Nombre de dégradations</th>
                <th>Temps d'indisponibilité</th>
                <th>MTBF</th>
                <th>MTTR</th>
                <th>Taux</th>


            </tr>
            </thead>
            <tbody>

            {% for availability in availabilities %}
                <tr {% if availability.category.isEmbeded %}class="bg-primary text-white"{% endif %}>
                    <td>{{ availability.category.name }}</td>
                    <td class="bg-info text-white">{{ availability.issueQuantity }}</td>
                    <td>{{ availability.newIssueQuantity }}</td>
                    <td>{{ availability.currentIssueQuantity }}</td>
                    <td>{{ availability.subcontractorIssueQuantity }}</td>
                    <td>{{ availability.fakeIssueQuantity }}</td>
                    <td>{{ availability.degradationQuantity }}</td>
                    <td class="bg-info text-white">{{ availability.repairTime }}</td>
                    <td class="bg-info text-white">{{ availability.mtbf }}</td>
                    <td class="bg-info text-white">{{ availability.mttr }}</td>
                    <td class="bg-info text-white">{{ availability.rate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



