{% extends 'admin/index.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block body %}
    <h1>Pièces détachées</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Références</th>
                <th>Temps théorique de réparation</th>
                <th>Groupe de pièce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.id }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.reference }}</td>
                <td>{{ part.repairTime }}</td>
                <td>{{ part.partGroup.name }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('part_edit', {'id': part.id}) }}"><i
                                class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('part_new') }}"><i class="fas fa-plus-circle"></i> Créer</a>
{% endblock %}
