{% extends 'admin/index.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}
    <h1>Part index</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>RepairTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.id }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.reference }}</td>
                <td>{{ part.repairTime }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('part_edit', {'id': part.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('part_new') }}">Créer</a>
{% endblock %}
