<html>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>

<h3>Notification de livraison proche</h3>
<p>Bonjour</p>
<p>Nous vous informons que les matériels suivants sont prêts à être remplacés</p>
<p>Une personne de Site.Oise vous contactera pour planifier une date d'échange.</p>
<table class="table">
    <tr>
        <th>Catégorie</th>
        <th>Modèle</th>
        <th>Numéro de série matériel en panne</th>
        <th>Numéro de série matériel remplaçant</th>

    </tr>
    {% for user in operator.users %}
        {% for issue in user.issues %}
            <tr>
                <td>{{ issue.equipment.brand.category.name }}</td>
                <td>{{ issue.equipment.brand.name }}</td>
                <td>{{ issue.equipment.serial }}</td>
                <td>
                    {% if issue.equipmentReplace is null %}
                        Non affecté
                    {% else %}
                        {{ issue.equipmentReplace.serial }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}

</table>
<p>Se rendre sur le site: <a href="https://www.siteoise.com/member/">ici</a></p>
<p>Site.Oise</p>
<p><img src="{{ image }}" alt="Oise Mobilité" style="height: 50px;"></p>
</body>
</html>


