{% extends 'admin/index.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="card">

        <h4 class="card-header">Exploitants en attente de notification de livraison</h4>
        <div class="card-body">

            <table class="table table-striped table-bordered table-sm">
                <thead>

                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Exploitant</th>
                    <th>Nombre de tickets non notifiés</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>

                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.operator.name }}</td>
                        <td>
                            {{ user.issues.count }}
                        </td>

                        <td class="d-flex">
                            <form action="{{ path('delivery_generate', {'id': user.id }) }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('delivery-generate') }}">
                                <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-truck"></i> Bon de livraison</button>
                            </form>
                            <form class="ml-1" action="{{ path('notification_send', {'id': user.id }) }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('send-notification') }}">
                                <button type="submit" class="btn btn-warning btn-sm"><i class="fas fa-envelope"></i> Envoyer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
