{% extends 'admin/index.html.twig' %}

{% block title %}Réseaux de transport{% endblock %}

{% block body %}
    <h1>Réseaux de transport</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>AOT</th>
                <th>Nom commercial</th>
                <th>Exploitants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transportation in transportations %}
            <tr>
                <td>{{ transportation.id }}</td>
                <td>{{ transportation.name }}</td>
                <td>{{ transportation.tradeName }}</td>
                <td>
                <ul>
                    {% for operator in transportation.operators %}
                        <li>
                            {{ operator.name }}
                        </li>
                    {% endfor %}
                </ul>
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('transportation_edit', {'id': transportation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('transportation_new') }}">Ajouter</a>
{% endblock %}
