{% extends 'admin/index.html.twig' %}

{% block title %}Dépots{% endblock %}

{% block body %}
    <h1>Dépots</h1>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Postal</th>
            <th>City</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.name }}</td>
                <td>{{ site.adress }}</td>
                <td>{{ site.postal }}</td>
                <td>{{ site.city }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('site_edit', {'id': site.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('site_new') }}">Ajouter</a>
{% endblock %}
