{% extends 'admin/index.html.twig' %}

{% block title %}Catégories d'équipements{% endblock %}

{% block body %}
    <h1>Catégories d'équipements</h1>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Temps de fonctionnement par jour (h)</th>
            <th>Mtbf</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.hoursPerDay }}</td>
                <td>{{ category.mtbf }}</td>
                <td><img src="{{ asset(category.image.url) }}" alt="{{ category.image.alt }}" style="width:30px;"></td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}"><i class="fas fa-plus-circle"></i> Créer une nouvelle catégorie</a>
{% endblock %}
