<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gestion des pannes SISMO{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}">
    {% endblock %}
</head>
<body>

{#navbar#}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="d-flex justify-content-start align-items-center">

        <img class="logo ml-1 d-none d-sm-block" src="{{ asset('/img/om.png') }}" alt="Oise Mobilité">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 d-none d-sm-block"
           href="{% block mainPath %}{{ path('home_index') }}{% endblock %}"> Gestion
            des pannes SISMO</a>

        <button class="navbar-toggler d-block d-sm-none mx-2 my-1" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ block('sidebar') }}
            </ul>

        </div>

    </div>

    {#<ul class="navbar-nav mr-auto">#}
    {#{% block navbar %}#}
    {#{% endblock %}#}
    {#</ul>#}



    {#user button to logout#}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mr-3 btn-sm" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> {{ app.user.firstname }} {{ app.user.lastname }}
            </button>
            <div class="dropdown-menu">
                <a class="nav-link my-color" href="{{ path('member_changePassword') }}"><i class="fas fa-key"></i>
                    Changer de mot de passe</a>
                <a class="nav-link my-color" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Deconnexion</a>
            </div>
        </div>
    {% endif %}
</nav>


<div class="container-fluid">

    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {{ block('sidebar') }}
                </ul>
            </div>
        </nav>
        {#<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">#}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {# flash messages #}
            {% block flash %}
                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ flashMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for flashMessage in app.flashes('info') %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ flashMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for flashMessage in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ flashMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for flashMessage in app.flashes('danger') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ flashMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endblock %}
            {#Body#}
            {% block body %}{% endblock %}
        </main>

    </div>
</div>
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/autocompleter-jqueryui.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
