<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('issue_index') }}">Tickets</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('category_index') }}">Catégorie</a>
                <a class="dropdown-item" href="{{ path('brand_index') }}">Modèle</a>
                <a class="dropdown-item" href="{{ path('contract_index') }}">Contrats</a>
                <a class="dropdown-item" href="{{ path('equipment_index') }}">Equipements</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('symptom_index') }}">Symptomes</a>
                <a class="dropdown-item" href="{{ path('part_index') }}">Pièces détachées</a>
                <a class="dropdown-item" href="{{ path('software_index') }}">Logiciels</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('operator_index') }}">Exploitants</a>
                <a class="dropdown-item" href="{{ path('site_index') }}">Sites</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                <a class="dropdown-item" href="{{ path('authorization_index') }}">Authorisations</a>

            </div>
        </li>


    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<ul class="navbar-nav justify-content-end">

        <li class="nav-item">
          <p>Utilisateur: {{ app.user.username }}</p>
        </li>
</ul>


    {% endif %}

</nav>
