<card class="card">
    <div class="card-header">
        <h4>Tableau d'historique</h4>
    </div>
    <div class="card-body">

        <table class="table table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Exploitant</th>
                <th>Date</th>
                <th>N°serie</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Pris en compte</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                {#backgroud color changes when issue checkedDate is in#}
                <tr {% if issue.dateChecked %}class="table-success" {% else %}class="table-warning"{% endif %}>
                    <td>{{ issue.id }}</td>
                    <td data-placement="top"
                        title="{{ issue.user.firstname }} {{ issue.user.lastname }}"><i
                                class="fas fa-bus"></i> {{ issue.user.operator.name }}
                    </td>
                    <td>{{ issue.dateRequest ? issue.dateRequest|date("m/d/Y H:i:s", "Europe/Paris") : '' }}</td>
                    <td>{{ issue.equipment.serial }}</td>
                    <td>{{ issue.equipment.brand.name }}</td>
                    <td>{{ issue.equipment.brand.category.name }}</td>

                    <td>{{ issue.dateChecked ? issue.dateChecked|date("m/d/Y H:i:s", "Europe/Paris") : '' }}</td>
                    <td>
                        <a href="{{ path('issue_show', {'id': issue.id}) }}"><i class="fas fa-info fa-xs"></i></a>
                        {#validate only if the checkedDate is in#}
                        {% if not issue.dateChecked %}{% include 'admin/issue/_validate.html.twig' %}{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</card>
