<div class="card shadow text-white bg-danger" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-start fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countNew }}</h1>
                <p class="card-text">Nouveaux</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <a href="{{ path('issue_showByStatus',{'status': 'new'}) }}"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-warning" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-half fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countCheck }}</h1>
                <p class="card-text">Pris en compte</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <a href="{{ path('issue_showByStatus', {'status': 'check'}) }}"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-success" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-end fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countReady }}</h1>
                <p class="card-text">Prêts</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <a href="{{ path('issue_showByStatus', {'status': 'ready'}) }}"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-secondary" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-check fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countEnd }}</h1>
                <p class="card-text">Traités</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <a href="{{ path('issue_showByStatus', {'status': 'end'}) }}"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>
</div>
