{% extends 'admin/index.html.twig' %}



{% block body %}

            <h4>
                {% if status == 'new' %}Nouveaux tickets{% elseif status == 'check' %}Pris en compte{% elseif status == 'ready' %}Prêts{% else %}Traités{% endif %}
            </h4>

            <table class="table table-sm table-bordered d-block table-striped">
                <thead>
                <tr>
                    <th class="d-none d-sm-table-cell">Id</th>
                    <th>Matériel</th>
                    <th class="d-none d-sm-table-cell">Matériel de remplacement</th>
                    <th><i class="fas fa-bus-alt"></i> Exploitant</th>
                    <th>Date Création</th>
                    {% if status == 'end' %}
                        <th class="d-none d-sm-table-cell">Date fin</th>
                    {% endif %}
                    <th class="d-none d-sm-table-cell">Symptômes</th>
                    <th class="d-none d-sm-table-cell">Description</th>
                    <th>Statut</th>
                    {% if status != 'end' %}
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for issue in issues %}
                    {#backgroud color changes when issue checkedDate is in#}
                    <tr>

                        {#id column#}
                        <td class="d-none d-sm-table-cell">{{ issue.id }}</td>


                        {#equipment column#}
                        <td>
                            <div class="d-flex">
                                <img class="img-circle d-none d-sm-block" data-toggle="tooltip" data-placement="top"
                                     title="{{ issue.equipment.brand.category.name }}" width="50"
                                     height="50"
                                     src="{{ asset(issue.equipment.brand.category.image.url) }}"
                                     alt="{{ issue.equipment.brand.category.image.alt }}">
                                <div class="d-flex flex-column">
                                    <div class="small d-none d-sm-block">
                                        <b>Catégorie:</b> {{ issue.equipment.brand.category.name }}
                                    </div>
                                    <div class="small">
                                        <b>Modèle:</b> {{ issue.equipment.brand.name }}
                                    </div>
                                    <div class="small">
                                        <b>N° Serie:</b> {{ issue.equipment.serial }}
                                    </div>
                                    {% if issue.equipment.contract.id == constant('CONTRAT_HORS_SISMO', contract) %}
                                        <div>
                                        <span class="badge badge-info badge-pill">
                                         Contrat: {{ issue.equipment.contract.name }}
                                        </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>


                        {#replacement equipment column#}

                        <td class="d-none d-sm-table-cell">
                            <div class="d-flex">
                                <div>
                                    {% if issue.equipment.contract.id == constant('CONTRAT_HORS_SISMO', contract) %}
                                        Pas de matériel de remplacement pour les équipements hors contrat SISMO
                                    {% else %}
                                        <b>N° Serie:</b>

                                        {% if issue.equipmentReplace is not null %}

                                            {{ issue.equipmentReplace.serial }}

                                        {% else %}
                                            Pas encore assigné
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>


                        {#operator column#}
                        <td>
                            <div class="dflex flex-column">
                                <div>
                                    <span class="badge badge-secondary">{{ issue.user.operator.name }}</span>
                                </div>
                                <div class="small d-none d-sm-block">
                                    {{ issue.user.firstname }} {{ issue.user.lastname }}
                                </div>
                                <div class="small d-none d-sm-block">
                                    {{ issue.transportation.tradeName }}
                                </div>
                            </div>
                        </td>

                        {#date column#}
                        <td>{{ issue.dateRequest | date("d/m/Y H:i:s", "Europe/Paris") }}</td>

                        {#end date#}
                        {% if status == 'end' %}
                            <td class="d-none d-sm-table-cell">{{ issue.dateEnd | date("d/m/Y H:i:s", "Europe/Paris") }}</td>
                        {% endif %}
                        {#symptom column#}
                        <td class="d-none d-sm-table-cell">
                            <ul>
                                {% for symptom in issue.symptoms %}
                                    <li>{{ symptom.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>

                        {#descriptions column#}
                        <td class="d-none d-sm-table-cell">{{ issue.description }}</td>

                        {#Status column#}
                        <td>
                            {% if issue.dateChecked and issue.dateReady == null %}
                                <span class="badge badge-pill badge-warning" data-toggle="tooltip" data-placement="top"
                                      title="Un materiel de remplacement est en cours de préparation"><i
                                            class="fas fa-hourglass-half"></i> Préparation</span>
                            {% elseif issue.dateReady and issue.dateEnd == null %}
                                <span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top"
                                      title="Le materiel re remplacement est prêt, un échange est imminent"><i
                                            class="fas fa-hourglass-end"></i> Prêt</span>
                                {% if issue.dateMessage %}
                                    <span class="badge badge-pill badge-success" data-toggle="tooltip"
                                          data-placement="top"
                                          title="L' utilisateur a été notifié.">
                                        <i class="fas fa-envelope"></i> Notifié</span>
                                {% endif %}
                            {% elseif issue.dateChecked == null %}
                                <span class="badge badge-pill badge-danger" data-toggle="tooltip" data-placement="top"
                                      title="La demande n'a pas encore été prise en compte."><i
                                            class="fas fa-hourglass-start"></i> En Attente</span>
                            {% else %}
                                <span class="badge badge-pill badge-secondary" data-toggle="tooltip"
                                      data-placement="top"
                                      title="La demande a été traitée."><i
                                            class="fas fa-hourglass-end"></i> Traité</span>
                            {% endif %}
                        </td>

                        {#actions column#}
                        {% if status != 'end' %}
                            <td>

                                {% if status == 'new' %}
                                    <form action="{{ path('issue_setChecked', {'id': issue.id}) }}"
                                          method="post">
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('check-issue-check') }}"/>
                                        <button type="submit" class="btn btn-sm btn-primary"><i
                                                    class="fas fa-check-square"></i> Prendre en compte
                                        </button>
                                    </form>
                                {% elseif status == 'check' %}
                                    {% if issue.equipment.contract.id == constant('CONTRAT_HORS_SISMO', contract) %}
                                        <form action="{{ path('issue_setReadyWithoutReplace', {'id': issue.id}) }}"
                                              method="post">
                                            <input type="hidden" name="token"
                                                   value="{{ csrf_token('check-issue-ready-without-replace') }}"/>
                                            <button type="submit" class="btn btn-sm btn-primary"><i
                                                        class="fas fa-check-square"></i> Valider
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="{{ path('issue_setReady', {'id': issue.id}) }}"
                                              method="post">
                                            <input type="hidden" name="token"
                                                   value="{{ csrf_token('check-issue-ready') }}"/>
                                            <button type="submit" class="btn btn-sm btn-primary"><i
                                                        class="fas fa-check-square"></i> Affecter un équipement de
                                                remplacement
                                            </button>
                                        </form>
                                    {% endif %}
                                {% elseif status == 'ready' %}
                                    <div class="d-flex flex-column">
                                        <div>
                                            <form action="{{ path('issue_edit', {'id': issue.id}) }}"
                                                  method="post">
                                                <input type="hidden" name="token"
                                                       value="{{ csrf_token('edit-issue') }}"/>
                                                <button type="submit" class="btn btn-sm btn-warning"><i
                                                            class="far fa-edit"></i> Modifier
                                                </button>
                                            </form>
                                        </div>
                                        <div class="pt-1">
                                            <form action="{{ path('issue_setEnd', {'id': issue.id}) }}"
                                                  method="post">
                                                <input type="hidden" name="token"
                                                       value="{{ csrf_token('check-issue-end') }}"/>
                                                <button type="submit" class="btn btn-sm btn-primary"><i
                                                            class="fas fa-check-square"></i> Terminer
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                {% endif %}

                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Liste vide</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>





{% endblock %}
