{% extends 'admin/index.html.twig' %}

{% block title %}Logiciels{% endblock %}

{% block body %}
    <h1>Logiciels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Version</th>
                <th>Detail</th>
                <th>Brand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for software in softwares %}
            <tr>
                <td>{{ software.id }}</td>
                <td>{{ software.version }}</td>
                <td>{{ software.detail }}</td>
                <td>{{ software.brand.name }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('software_edit', {'id': software.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('software_new') }}">Créer</a>
{% endblock %}
