{% extends 'admin/index.html.twig' %}

{% block title %}Modèle d'équipements{% endblock %}

{% block body %}
    <h1>Modèle d'équipements</h1>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.category.name }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('brand_edit', {'id': brand.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('brand_new') }}"><i class="fas fa-plus-circle"></i> Créer</a>
{% endblock %}
