{% extends 'admin/index.html.twig' %}

{% block title %}
    Modifier bon de livraison
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>
                Bon de livraison n° {{ delivery.id }}
                {% for issue in delivery.issues %}
                    {% if loop.first %}
                        <span class="badge badge-success">
                        {{ issue.user.operator.name }}
                        </span>
                    {% endif %}
                {% endfor %}
            </h3>


        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">


                    <table class="table table-sm table-bordered col-md-3">
                        <tr>
                            <th>Date du bon</th>
                            <td>{{ delivery.dateCreation | date('d/m/y', "Europe/Paris") }}</td>
                        </tr>
                    </table>

                <form action="{{ path('delivery_export', {'id': delivery.id}) }}"
                      method="post">
                    <input type="hidden" name="token"
                           value="{{ csrf_token('delivery-export') }}"/>
                    <button type="submit" class="btn btn-warning"><i class="fas fa-file-export"></i> Exporter
                    </button>
                </form>
            </div>

            <div class="row">

                <div class="col-md-8">
                    <div class="card text-white bg-secondary">
                        <div class="card-header">

                            <h4>Echanges non modifiables</h4>
                        </div>
                        <div class="card-body">

                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Equipement ko</th>
                                    <th>equipement remplaçant</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for issue in delivery.issues %}
                                    <tr>
                                        <td>
                            <span class="badge badge-info">
                            {{ issue.equipment.brand.category.name }} {{ issue.equipment.brand.name }}
                            </span>
                                            {{ issue.equipment.serial }}
                                        </td>

                                        <td>
                            <span class="badge badge-info">
                                {{ issue.equipmentReplace.brand.category.name }} {{ issue.equipmentReplace.brand.name }}
                            </span>

                                            {{ issue.equipmentReplace.serial }}
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ajout d' équipements</h4>
                        </div>
                        <div class="card-body">

                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>Equipement suplémentaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for equipment in delivery.equipments %}
                                    <tr>
                                        <td>
                                            <span class="badge badge-info">{{ equipment.brand.category.name }} {{ equipment.brand.name }}</span> {{ equipment.serial }}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mx-auto mt-3">
        <h4>Modifier le bon de livraison</h4>
        <div>
            {{ include('admin/delivery/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $('#issue_equipment').autocompleter({
            url_list: '/member/equipment_search',
            url_get: '/member/equipment_get'
        });
    </script>
{% endblock %}
