{% extends 'admin/index.html.twig' %}

{% block title %}Bons de livraisons{% endblock %}
{% block isActiveDelivery %}active{% endblock %}
{% block body %}
    <h1><i class="fas fa-truck"></i> Bons de livraisons</h1>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Nombre de tickets</th>
            <th>Nombre d'équipements ajoutés</th>
            <th>Exploitant</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.dateCreation | date("d/m/Y", "Europe/Paris") }}</td>
                <td>
                    {{ delivery.issues.count }}
                </td>
                <td>{{ delivery.equipments.count }}</td>
                <td>
                    {% for issue in delivery.issues %}
                        {% if loop.first %}
                            {{ issue.user.operator.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="d-flex">
                    <a class="btn btn-primary btn-sm mr-1" href="{{ path('delivery_edit', {'id': delivery.id}) }}">Modifier</a>

                    <form action="{{ path('delivery_export', {'id': delivery.id}) }}"
                          method="post">
                        <input type="hidden" name="token"
                               value="{{ csrf_token('delivery-export') }}"/>
                        <button type="submit" class="btn btn-sm btn-warning"><i class="fas fa-file-export"></i> Exporter
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
