{% extends 'admin/index.html.twig' %}

{% block title %}Bons de livraisons{% endblock %}
{% block isActiveDelivery %}active{% endblock %}
{% block body %}
    <div class="row align-items-center">
        <h1><i class="fas fa-truck"></i> Bons de livraisons</h1>
        <div class="ml-3">
            <a class="btn btn-info" href="{{ path('delivery_new') }}" data-toggle="tooltip" data-placement="top"
               title="Creer un nouveau BL"><i class="fab fa-wpforms"></i> Créer</a>
        </div>
    </div>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Nombre de tickets</th>
            <th>Nombre d'équipements ajoutés</th>
            <th>Exploitant</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.dateCreation | date("d/m/Y", "Europe/Paris") }}</td>
                <td>
                    {{ delivery.issues.count }}
                </td>
                <td>{{ delivery.equipments.count }}</td>
                <td>
                    {% if delivery.issues.count > 0 %}
                        {% for issue in delivery.issues %}
                            {% if loop.first %}
                                <span class="badge badge-secondary">automatique</span> {{ issue.user.operator.name }}
                            {% endif %}
                        {% endfor %}
                    {% elseif delivery.user %}
                        <span class="badge badge-warning">saisi</span> {{ delivery.user.operator.name }}
                    {% else %}
                        <span class="badge badge-danger">incomplet</span>
                    {% endif %}
                </td>
                <td class="d-flex">
                    <a class="btn btn-outline-danger btn-sm mr-1" data-toggle="tooltip" data-placement="top"
                       title="Attention! A utiliser avec parcimonie"
                       href="{{ path('delivery_edit', {'id': delivery.id}) }}"><i class="fas fa-edit"></i> Modifier</a>

                    <form action="{{ path('delivery_export', {'id': delivery.id}) }}"
                          method="post">
                        <input type="hidden" name="token"
                               value="{{ csrf_token('delivery-export') }}"/>
                        <button type="submit" class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="top"
                                title="Export du BL au format PDF"><i class="fas fa-file-export"></i>
                            Exporter
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
