{% extends 'admin/index.html.twig' %}

{% block title %}Sous-traitant{% endblock %}

{% block isActiveSubcontractor %}active{% endblock %}

{% block body %}
    <h1>Sous-traitant</h1>

    <table class="table table-sm table-striped small">
        <thead>
        <tr>
            <th>Id</th>
            <th>RMA</th>
            <th>Equipement</th>
            <th>Réparation SO</th>
            <th>Date enregistrement</th>
            <th>Date Envoi</th>
            <th>Date retour</th>


            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for subcontractor in subcontractors %}
            <tr>
                <td>{{ subcontractor.id }}</td>

                <td>
                    {{ subcontractor.rma }}
                </td>
                <td>
                    <div class="d-flex">
                        <img class="img-circle" data-toggle="tooltip" data-placement="top"
                             title="{{ subcontractor.repair.issue.equipment.brand.category.name }}" width="50"
                             height="50"
                             src="{{ asset(subcontractor.repair.issue.equipment.brand.category.image.url) }}"
                             alt="{{ subcontractor.repair.issue.equipment.brand.category.image.alt }}">
                        <div class="d-flex flex-column">
                            <div class="small">
                                <b>Catégorie:</b> {{ subcontractor.repair.issue.equipment.brand.category.name }}
                            </div>
                            <div class="small">
                                <b>Modèle:</b> {{ subcontractor.repair.issue.equipment.brand.name }}
                            </div>
                            <div class="small">
                                <b>N° Serie:</b> <a href="{{ path('equipment_show', {'id': subcontractor.repair.issue.equipment.id}) }}" target="_blank">{{ subcontractor.repair.issue.equipment.serial }}</a>
                            </div>
                            {% if subcontractor.repair.issue.equipment.contract.id == out_sismo_contract %}
                                <div>
                                        <span class="badge badge-info badge-pill">
                                         Contrat: {{ subcontractor.repair.issue.equipment.contract.name }}
                                        </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </td>

                <td>
                    <ul>

                        <li>id: {{ subcontractor.repair.id }}</li>

                        <li>Symptômes:
                            <ul>
                                {% for symptom in subcontractor.repair.symptoms %}

                                    <li class="badge badge-warning">{{ symptom.name }}</li>

                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>{{ subcontractor.dateEntry | date('d/m/y' ,'Europe/Paris') }}</td>
                <td>{% if subcontractor.dateDispatch %}{{ subcontractor.dateDispatch | date('d/m/y' ,'Europe/Paris') }}{% else %}n/a{% endif %}</td>
                <td>{% if subcontractor.dateReturn %}{{ subcontractor.dateReturn | date('d/m/y' ,'Europe/Paris') }}{% else %}n/a{% endif %}</td>


                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('subcontractor_edit', {'id': subcontractor.id} ) }}" >Modifier</a>
                    {{ include('admin/subcontractor/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
